<head>

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/log_reg.css') }}">
</head>

<body>
<div id="wrapper">
  <div id="formContent">
    <h2>Log in</h2>
    <form method="POST">
      <input type="text" id="username" class="second" name="username" placeholder="username" autocomplete="off">
      <input type="password" id="password" class=" third" name="password" placeholder="password">
      <input type="submit" class="button" value="Log In">
    </form>
    <div id="formFooter">
      <a class="underlineHover" href="#">New User?</a>
    </div>

    </div>
</div>
</body>