{% extends "layout.html" %}
{% block head %}
  {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/news_display.css') }}">
{% endblock %}
{% block content %}

    <div class="masonry row cards-holder" style="position: relative">
    {% for article in articles %}
    <div class="col s12 m5 l3">
      <div class="card medium gray">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ article['urlToImage'] }}">
        </div>
        <div class="card-content">
          <span class="card-title activator">{{ article['title'] }}<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-action">
            <a href="{{ url_for('ParsedData', title=article.news_id)}}">Read More</a>
            {% if current_user.is_authenticated %}
            <i id="{{ article['news_id'] }}" {% if article.saved %} class="save_btn unfavorite material-icons right" {% else %} class="save_btn favorite material-icons-outlined right" {% endif %} name="{{ article['news_id'] }}">
                star_rate
            </i>
            {% endif %}
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Abstract<i class="material-icons right">close</i></span>
            <p>{{ article['description'] }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
    </div>

{% endblock %}

{% block script %}


<script>
    console.log('testing');
    $(document).ready(function(){
        console.log('Page is ready');
        var clicked, temp;
        $(document).on('click', '.favorite', function(){
            console.log('Favorite');
            console.log($(this).attr("id"));
            clicked = $(this).attr("name");
            temp = $(this);
            $(this).toggleClass("favorite unfavorite");
            $(this).toggleClass("material-icons material-icons-outlined");
            console.log($(this).attr("class"));
            console.log(clicked);
            $.ajax({
                type : 'POST',
                url : "{{url_for('favorite_articles')}}",
                data : {'data': clicked,
                        'operation': 'save'
                        },
                success: function() {
                    console.log("Successfully favorited");
                }
            });
        });
        $(document).on('click', '.unfavorite', function(){
            console.log('unfavorite');
            clicked = $(this).attr("name");
            temp = $(this);
            $(this).toggleClass("favorite unfavorite");
            $(this).toggleClass("material-icons material-icons-outlined");
            $.ajax({
                type : 'POST',
                url : "{{url_for('favorite_articles')}}",
                data : {'data': clicked,
                        'operation': 'unsave'
                        },
                success: function() {
                    console.log("Successfully unfavorited");
                }
            });
        });
    });
</script>

{% endblock %}