<head>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/log_reg.css') }}">
  </head>
  
  <body>
  <div id="wrapper">
    <div id="formContent">

    <div class="flashed_messages_container">
    {% for message in get_flashed_messages() %}
      <p class="flashed_message">{{ message }}</p>
    {% endfor %}
    </div>
    
      <h2>Register</h2>
      <form method="POST">
        <input type="text" name="firstname" id="firstname" placeholder="First Name" autocomplete="off" required>
        <input type="text" name="lastname" id="lastname" placeholder="Last Name" autocomplete="off" required>
        <input type="email" name="email" id="email" type="email" placeholder="johndoe@example.com" autocomplete="off" required>
        <input type="text" id="username" class="second" name="username" placeholder="username" autocomplete="off">
        <input type="password" id="password" class=" third" name="password" placeholder="password">
        <input type="submit" class="button" value="Sign Up">
      </form>
      <div id="formFooter">
        <a class="underlineHover" href="#">Already have an account? Log in!</a>
      </div>
  
      </div>
  </div>
  </body>