html, body {
    margin: 0;
    padding: 0;
}

html {
    background-color: #ed5656;
}

.cards-holder {
    margin-top: 3%;
}

.save_btn {
    cursor:pointer;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

.save_btn:hover {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}
/* If we need to constrict image size on the cards */
/*.card-image{*/
/*    height: 40%; !* Your height here *!*/
/*    overflow: hidden;*/
/*}*/